# Python Class Files
*.pyc

# Java Class Files
*.class

# vscode
.vscode

# Test Artifacts
.nyc_output/
coverage/
target/
reports/

# Mac Artifacts
.DS_Store

# Maven Artifacts
.classpath
.project
.settings

# Node Artifacts
node_modules/

# Ruby Gem Files
vendor/
bin/

# IntelliJ Files
.idea/
